{% extends 'base.html.twig' %}

{% block title %}About - YoanDev{% endblock %}

{% block hero %}
	{% include 'about/hero.html.twig' %}
{% endblock %}

{% block body %}
	{% include 'about/content.html.twig' %}
    {% include 'about/testimonial.html.twig' %}
{% endblock %}
