<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 d-flex">
				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end" style="background-image:url({{ vich_uploader_asset(blogConfig, 'aboutImageFile') }});">
					<a href="{{ blogConfig.aboutVideoLink }}" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
						<span class="icon-play"></span>
					</a>
				</div>
			</div>
			<div class="col-md-6 pl-md-5 py-md-5">
				<div class="row justify-content-start pt-3 pb-3">
					<div class="col-md-12 heading-section ftco-animate">
						<span class="subheading">{{ blogConfig.aboutHeroTitle }}</span>
						<h2 class="mb-4">{{ blogConfig.aboutTitle }}</h2>
						<p>{{ blogConfig.aboutMiniText }}</p>
						<div class="tabulation-2 mt-4">
							<ul class="nav nav-pills nav-fill d-md-flex d-block">
								<li class="nav-item mb-md-0 mb-2">
									<a class="nav-link active py-2" data-toggle="tab" href="#home1">{{ blogConfig.aboutTab1Title }}</a>
								</li>
								<li class="nav-item px-lg-2 mb-md-0 mb-2">
									<a class="nav-link py-2" data-toggle="tab" href="#home2">{{ blogConfig.aboutTab2Title }}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">{{ blogConfig.aboutTab3Title }}</a>
								</li>
							</ul>
							<div class="tab-content bg-light rounded mt-2">
								<div class="tab-pane container p-0 active" id="home1">
									<p>{{ blogConfig.abouTitleTab1Text }}</p>
								</div>
								<div class="tab-pane container p-0 fade" id="home2">
									<p>{{ blogConfig.aboutTab2Text }}</p>
								</div>
								<div class="tab-pane container p-0 fade" id="home3">
									<p>{{ blogConfig.aboutTab2Text }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
