{% extends 'base.html.twig' %}

{% block title %}Blog - YoanDev
{% endblock %}

{% block hero %}
	{% include 'blog_posts_search/hero.html.twig' %}
{% endblock %}

{% block body %}

	<section class="ftco-section bg-light">
		<div class="container">

            {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
            {% endfor %}

			<div class="row d-flex">
                {% for blogPost in blogPosts %}
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry justify-content-end">
                            <a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}" class="block-20" style="background-image: url({{ vich_uploader_asset(blogPost) }});"></a>
                            <div class="text p-4 float-right d-block">
                                <div class="topper d-flex align-items-center">
                                    <div class="one py-2 pl-3 pr-1 align-self-stretch">
                                        <span class="day">{{ blogPost.updateAt|date("d") }}</span>
                                    </div>
                                    <div class="two pl-0 pr-3 py-2 align-self-stretch">
                                        <span class="yr">{{ blogPost.updateAt|date("Y") }}</span>
                                        <span class="mos">{{ blogPost.updateAt|date("M") }}</span>
                                    </div>
                                </div>
                                <h3 class="heading mb-3">
                                    <a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}">{{ blogPost.title }}</a>
                                </h3>
                                <p>{{ blogPost.content|slice(0,100)}}...</p>
                                <p>
                                    <a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}" class="btn-custom">
                                        <span class="ion-ios-arrow-round-forward mr-3"></span>
                                        Lire la suite
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			</div>
        </div>

	</section>

{% endblock %}
