{% set route_name = app.request.attributes.get('_route') %}

<nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="{{ path('blog_posts_index') }}">Yoan<i>Dev</i>.</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span>
			Menu
		</button>

		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li {% if route_name matches '{blog_posts_index}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
					<a href="{{ path('blog_posts_index' )}}" class="nav-link">Home</a>
				</li>
				<li {% if route_name matches '{blog_posts_blog}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
					<a href="{{ path('blog_posts_blog' )}}" class="nav-link">Blog</a>
				</li>
				<li {% if route_name matches '{about}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
					<a href="{{ path('about') }}" class="nav-link">About</a>
				</li>
				<li {% if route_name matches '{contact}' %} class="nav-item active" {% else %} class="nav-item" {% endif %} >
					<a href="{{ path('contact') }}" class="nav-link">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- END nav -->
