<div class="about-author d-flex p-4 bg-light">
	<div class="bio mr-5">
		<img src="{{ vich_uploader_asset(singlePost.Author) }}" alt="Image placeholder" class="img-fluid mb-4">
	</div>
	<div class="desc">
		<h3>{{ singlePost.Author.firstname }} {{ singlePost.Author.lastname }}</h3>
		<p>{{ singlePost.Author.bio }}</p>
	</div>
</div>
