<div class="pt-5 mt-5">
	<h3 class="mb-5">
		{% if singlePost.comments|length == 0 %}
			Pas de commentaires
		{% endif %}
		{% if singlePost.comments|length == 1 %}
			{{singlePost.comments|length }} Commentaire
		{% endif %}
		{% if singlePost.comments|length > 1 %}
			{{singlePost.comments|length }} Commentaires
		{% endif %}
	</h3>
	<ul class="comment-list">
		{% for comment in singlePost.comments %}
			<li class="comment">
				<div class="vcard bio">
					<img src="{{ asset(gravatar(comment.email)) }}" alt="Image placeholder">
				</div>
				<div class="comment-body">
					<h3>{{ comment.Author }}</h3>
					<div class="meta mb-3">[{{ comment.updateAt|date("m/d/Y à H:m:s", "Europe/Paris")}}]</div>
					<p>
						{{ comment.content}}
					</p>
				</div>
			</li>
		{% endfor %}

	</ul>

	<!-- END comment-list -->

	<div class="comment-form-wrap pt-5">
		<h3 class="mb-5">Laisser un commentaire</h3>
		<div class="p-5 bg-light">
			{{ form_start(form) }}
				<div class="form-group">
					<label for="name">Votre nom *</label>
					{{form_widget(form.Author)}}
				</div>
				<div class="form-group">
					<label for="email">Email *</label>
					{{form_widget(form.email)}}
				</div>
				<div class="form-group">
					<label for="message">Message</label>
					{{form_widget(form.content)}}
				</div>
				<div class="form-group">
					{{form_widget(form.save)}}
				</div>
			{{ form_end(form)}}
		</div>
	</div>
</div>
