{% extends 'base.html.twig' %}

{% block title %}{{ singlePost.title }} - YoanDev{% endblock %}

{% block hero %}{% include 'blog_posts_show/hero.html.twig' %}{% endblock %}

{% block body %}
	<section class="ftco-section ftco-degree-bg">
		<div class="container">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			<div class="row">
				<div class="col-lg-8 ftco-animate">
					{% include 'blog_posts_show/content.html.twig' %}
                    {% include 'blog_posts_show/tag.html.twig' %}
					{% include 'blog_posts_show/aboutAuthor.html.twig' %}
					{% include 'blog_posts_show/comment.html.twig' %}
				</div>
                {% include 'blog_posts_show/sidebar.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
    <script>
    hljs.initHighlightingOnLoad();
    </script>
{%  endblock %}
