<!-- .col-md-8 -->
<div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
	<div class="sidebar-box">
		<form action="{{ path('blog_posts_search') }}" class="search-form" method="post">
			<div class="form-group">
			{{ form_start(search) }}
				<span class="icon icon-search"></span>
				{{form_widget(search.search)}}
			{{ form_end(search)}}
			</div>
		</form>
	</div>
	<div class="sidebar-box ftco-animate">
		<div class="categories">

			<h3>Categories</h3>
			{% for category in categories %}
				<li>
					<a href="{{ path('categories', {'Slug': category.Slug }) }}">{{ category.title }}
						<span class="ion-ios-arrow-forward"></span>
					</a>
				</li>
			{% endfor %}

		</div>
	</div>

	<div class="sidebar-box ftco-animate">
		<h3>Derniers articles</h3>
		{% for blogPost  in lastThreeBlogPosts %}
			<div class="block-21 mb-4 d-flex">
				<a class="blog-img mr-4" style="background-image: url({{ vich_uploader_asset(blogPost) }});"></a>
				<div class="text">
					<h3 class="heading">
						<a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}">{{ blogPost.title }}</a>
					</h3>
					<div class="meta">
						<div>
							<a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}">
								<span class="icon-calendar"></span>
								{{ blogPost.updateAt|date("d/m/Y") }}</a>
						</div>
						<div>
							<a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}">
								<span class="icon-person"></span>
								{{ blogPost.Author.firstname}} {{ blogPost.Author.lastname}}</a>
						</div>
						<div>
							<a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}">
								<span class="icon-chat"></span>
								{{ blogPost.Comments|length }}</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		

	</div>

	<div class="sidebar-box ftco-animate">
		<h3>Tag Cloud</h3>
		<div class="tagcloud">
			{% for tag in tags %}
				<a href="{{ path('tags', {'Slug': tag.Slug }) }}" class="tag-cloud-link">{{ tag.title }}</a>
			{% endfor %}

		</div>
	</div>
</div>
