<div class="tag-widget post-tag-container mb-5 mt-5">
	<div class="tagcloud">
		{% for tag in singlePost.tags %}
			<a href="{{ path('tags', {'Slug': tag.Slug }) }}" class="tag-cloud-link">{{ tag.title }}</a>
		{% endfor %}
	</div>
</div>
