{% extends 'base.html.twig' %}

{% block title %}Accueil - YoanDev{% endblock %}

{% block hero %}{% include 'blog_posts_index/hero.html.twig' %}{% endblock %}

{% block body %}
	<section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

				{% for blogPost in blogPosts%}

					<div class="case">
						<div class="row">
							<div class="col-md-6 col-lg-6 col-xl-8 d-flex">
								<a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}" class="img w-100 mb-3 mb-md-0" style="background-image: url({{ vich_uploader_asset(blogPost) }});"></a>
							</div>
							<div class="col-md-6 col-lg-6 col-xl-4 d-flex">
								<div class="text w-100 pl-md-3">
									<span class="subheading">
										{% for category in blogPost.categories %}
										{% if blogPost.categories|length > 1 %}
												|
											{% endif %}
											{{ category.title }}
										{% endfor %}
									</span>
									<h2>
										<a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}">{{ blogPost.title }}</a>
									</h2>
									<div class="meta">
										<p class="mb-0">
											<a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}">{{ blogPost.updateAt|date("d/m/Y") }}</a>
											|
											<a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}"> {{ readingTime(blogPost.content) }} min de lecture</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				{% endfor %}
				
				</div>
			</div>
			{{ knp_pagination_render(blogPosts) }}
		</div>
	</section>
{% endblock %}
