{% if pageCount > 1 %}
	{% set classAlign = (align is not defined) ? '' : align=='center' ? ' justify-content-center' : (align=='right' ? ' justify-content-end' : '') %}
	{% set classSize = (size is not defined) ? '' : size=='large' ? ' pagination-lg' : (size=='small' ? ' pagination-sm' : '') %}
	<div class="row mt-5">
		<div class="col text-center">
			<div class="block-27">
				<ul>

					{% if previous is defined %}
						<li>
							<a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
						</li>
					{% endif %}

					{% if startPage > 1 %}
						<li>
							<a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
						</li>
						{% if startPage == 3 %}
							<li>
								<a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
							</li>
						{% elseif startPage != 2 %}
							<li>
								<span>&hellip;</span>
							</li>
						{% endif %}
					{% endif %}

					{% for page in pagesInRange %}
						{% if page != current %}
							<li>
								<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
							</li>
						{% else %}
							<li class="active">
								<a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
							</li>
						{% endif %}

					{% endfor %}

					{% if pageCount > endPage %}
						{% if pageCount > (endPage + 1) %}
							{% if pageCount > (endPage + 2) %}
								<li>
									<span>&hellip;</span>
								</li>
							{% else %}
								<li>
									<a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
								</li>
							{% endif %}
						{% endif %}
						<li>
							<a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
						</li>
					{% endif %}

					{% if next is defined %}
						<li>
							<a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
{% endif %}
