{% extends "@EasyAdmin/page/content.html.twig" %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Gestion de votre blog</h1>
    <p class="lead">Bienvenue sur l'interface d'administration de votre blog, enjoy !</p>
  </div>
</div>
{% endblock %}