<div class="hero-wrap js-fullheight" style="background-image: url({{ vich_uploader_asset(blogConfig, 'homeHeroImageFile') }});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
			<div class="col-md-12 ftco-animate">
				<h2 class="subheading">Articles de la catégorie</h2>
				<h1 class="mb-4 mb-md-0">{{ categories.title }}</h1>
			</div>
		</div>
	</div>
</div>
