{% extends 'base.html.twig' %}

{% block title %}Contact - YoanDev{% endblock %}

{% block hero %}
	{% include 'contact/hero.html.twig' %}
{% endblock %}

{% block body %}

	<section class="ftco-section contact-section">
		<div class="container">
		
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			<div class="row d-flex mb-5 contact-info">
				<div class="col-md-12 mb-4">
					<h2 class="h3">Me contacter</h2>
				</div>
				<div class="w-100"></div>
				<div class="col-md-3">
					<p>
						<span>Addresse:</span>
						{{ blogConfig.contactAdress }}
					</p>
				</div>
				<div class="col-md-3">
					<p>
						<span>Téléphone:</span>
						<a href="tel://{{ blogConfig.contactPhone }}">{{ blogConfig.contactPhone }}</a>
					</p>
				</div>
				<div class="col-md-3">
					<p>
						<span>Email:</span>
						<a href="mailto:{{ blogConfig.contactEmail }}">{{ blogConfig.contactEmail }}</a>
					</p>
				</div>
				<div class="col-md-3">
					<p>
						<span>Website</span>
						<a href="{{ blogConfig.contactWebsiteLink }}">{{ blogConfig.contactWebsiteName }}</a>
					</p>
				</div>
			</div>
			<div class="row block-9 no-gutters">
				<div class="col-lg-6 order-md-last d-flex">
					<div class="bg-light p-4 p-md-5 contact-form">
						{{ form_start(form) }}
							<div class="form-group">
								{{form_widget(form.name)}}
							</div>
							<div class="form-group">
								{{form_widget(form.email)}}
							</div>
							<div class="form-group">
								{{form_widget(form.subject)}}
							</div>
							<div class="form-group">
								{{form_widget(form.message)}}
							</div>
							<div class="form-group">
								{{form_widget(form.save)}}
							</div>
						{{ form_end(form)}}
					</div>

				</div>

				<div class="col-lg-6 d-flex">
					<div id="map" class="bg-white"></div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
