<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({{ vich_uploader_asset(blogConfig, 'contactHeroImageFile') }});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
			<div class="col-md-9 ftco-animate pb-5 text-center">
				<h1 class="mb-3 bread">{{ blogConfig.contactHeroTitle }}</h1>
				<p class="breadcrumbs">
					<span class="mr-2">
						<a href="{{ path('blog_posts_index') }}">Home
							<i class="ion-ios-arrow-forward"></i>
						</a>
					</span>
					<span>{{ blogConfig.contactHeroTitle }}
						<i class="ion-ios-arrow-forward"></i>
					</span>
				</p>
			</div>
		</div>
	</div>
</section>
