<!DOCTYPE html>
<html lang="en">
	<head>

		<title>
			{% block title %}
			{% endblock %}
		</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="{{ asset('css/open-iconic-bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/animate.css') }}">

		<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">

		<link rel="stylesheet" href="{{ asset('css/aos.css') }}">

		<link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">

		<link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
		<link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('mybundles/ckeditor4yoandev/plugins/codesnippet/lib/highlight/styles/paraiso.dark.css') }}">
	</head>
	<body>

		{% include 'base/nav.html.twig' %}

		{% block hero %}{% endblock %}

		{% block body %}{% endblock %}

		<footer class="ftco-footer ftco-bg-dark ftco-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="logo">
								<a href="#">Yoan<span>Dev</span>.</a>
							</h2>
							<p>{{ blogConfig.homeHeroText }}</p>
							<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
								<li class="ftco-animate">
									<a href="{{ blogConfig.contactTwitter }}">
										<span class="icon-twitter"></span>
									</a>
								</li>
								<li class="ftco-animate">
									<a href="{{ blogConfig.contactLinkedin }}">
										<span class="icon-linkedin-square"></span>
									</a>
								</li>
								<li class="ftco-animate">
									<a href="{{ blogConfig.contactGitlab }}">
										<span class="icon-gitlab"></span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Derniers articles</h2>

							{% for blogPost in lastBlogPosts %}
								<div class="block-21 mb-4 d-flex">
									<a class="img mr-4 rounded" style="background-image: url({{ vich_uploader_asset(blogPost) }});"></a>
									<div class="text">
										<h3 class="heading">
											<a href="{{ path('blog_posts_show', {'Slug': blogPost.slug }) }}">{{ blogPost.title }}</a>
										</h3>
										<div class="meta">
											<div>
												<a href="#"></span>{{ blogPost.updateAt|date("d/m/Y")}}</a>
											</div>
											<div>
												<a href="#"></span>{{ blogPost.Author.firstname}} {{ blogPost.Author.lastname}}</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>	
					<div class="col-md">
						<div class="ftco-footer-widget mb-4 ml-md-5">
							<h2 class="ftco-heading-2">Information</h2>
							<ul class="list-unstyled">
								<li>
									<a href="{{ path('blog_posts_index' ) }}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Home</a>
								</li>
								<li>
									<a href="{{ path('blog_posts_blog') }}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Blog</a>
								</li>
								<li>
									<a href="{{ path('about') }}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>About</a>
								</li>
								<li>
									<a href="{{ path('contact') }}" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Contact</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Des questions ?</h2>
							<div class="block-23 mb-3">
								<ul>
									<li>
										<span class="icon icon-map-marker"></span>
										<span class="text">{{ blogConfig.contactAdress}}</span>
									</li>
									<li>
										<a href="#">
											<span class="icon icon-phone"></span>
											<span class="text">{{ blogConfig.contactPhone }}</span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="icon icon-envelope"></span>
											<span class="text">{{ blogConfig.contactEmail}}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;
							<script>
								document.write(new Date().getFullYear());
							</script>
							All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by 
							<a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
					</div>
				</div>
			</div>
		</footer>


		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg>
		</div>
		
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
		<script src="{{ asset('js/popper.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
		<script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
		<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
		<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ asset('js/aos.js') }}"></script>
		<script src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
		<script src="{{ asset('js/scrollax.min.js') }}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="{{ asset('js/google-map.js') }}"></script>
		<script src="{{ asset('js/main.js') }}"></script>
		<script src="{{ asset('mybundles/ckeditor4yoandev/plugins/codesnippet/lib/highlight/highlight.pack.js') }}"></script>
		{% block javascripts %}{%  endblock %}
	</body>
</html>